@tailwind base;  
@tailwind components;  

.btn {  
    @apply 
        inline-block 
        px-5 
        py-3 
        rounded-lg 
        shadow-lg 
        bg-indigo-500 
        hover:bg-indigo-400 
        sm:hover:bg-green-500 
        hover:-translate-y-0.5 
        focus:outline-none   
        focus:ring 
        focus:ring-offset-2 
        focus:ring-indigo-500 
        focus:ring-opacity-50 
        active:bg-indigo-600 
        transform 
        transition 
        text-white 
        uppercase 
        tracking-wide 
        font-semibold 
        text-sm /* Corrected this line */
        sm:text-base;  
}  

@tailwind utilities;